<!-- Footer -->
<footer>
  <p><i class="bi bi-telephone"></i>018000-123-4567</p>
  <div>
    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
    <a href="mailto:info@ejemplo.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope"></i></a>
  </div>
</footer>
