.navbar {
  background-color: #FAF6EE;
  border-bottom: 5px solid #C49A6C;
}

.navbar-brand {
  color: #115E59;
  font-weight: 700;
}

.navbar-brand img {
    height: 48px;
    margin-right: -12px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #0d3c2f;
}

.nav-link {
  color: #115E59;
  transition: color 0.2s;
}

.nav-link:hover,
.nav-link:focus {
  color: #148974;
}